<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>linkShare</key>
	<dict>
		<key>top</key>
		<array>
			<dict>
				<key>title</key>
				<string>微信朋友圈</string>
				<key>norImage</key>
				<string>vp_share_Circle-of-friends</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>2</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微信好友</string>
				<key>norImage</key>
				<string>vp_share_wechat</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>1</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>钉钉</string>
				<key>norImage</key>
				<string>share_dingding</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>27</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>QQ好友</string>
				<key>norImage</key>
				<string>vp_share_QQ</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>4</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>新浪微博</string>
				<key>norImage</key>
				<string>vp_share_sinaweibo</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>0</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微信收藏</string>
				<key>norImage</key>
				<string>vp_share_wechatcollect</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>3</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>QQ空间</string>
				<key>norImage</key>
				<string>vp_share_qzone</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>5</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>系统分享</string>
				<key>norImage</key>
				<string>vp_share_Airdrop</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>-1</string>
				<key>type</key>
				<string>-1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>短信</string>
				<key>norImage</key>
				<string>vp_share_message</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>13</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>邮件</string>
				<key>norImage</key>
				<string>vp_share_email</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>14</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>复制链接</string>
				<key>norImage</key>
				<string>vp_share_link</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>-1</string>
				<key>type</key>
				<string>-1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Safari打开</string>
				<key>norImage</key>
				<string>vp_share_safari</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>-1</string>
				<key>type</key>
				<string>-1</string>
			</dict>
		</array>
	</dict>
	<key>imageShare</key>
	<dict>
		<key>top</key>
		<array>
			<dict>
				<key>title</key>
				<string>微信朋友圈</string>
				<key>norImage</key>
				<string>vp_share_Circle-of-friends</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>2</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微信好友</string>
				<key>norImage</key>
				<string>vp_share_wechat</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>1</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>钉钉</string>
				<key>norImage</key>
				<string>share_dingding</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>27</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>QQ好友</string>
				<key>norImage</key>
				<string>vp_share_QQ</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>4</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>新浪微博</string>
				<key>norImage</key>
				<string>vp_share_sinaweibo</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>0</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微信收藏</string>
				<key>norImage</key>
				<string>vp_share_wechatcollect</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>3</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>QQ空间</string>
				<key>norImage</key>
				<string>vp_share_qzone</string>
				<key>higImage</key>
				<string></string>
				<key>platform</key>
				<string>5</string>
				<key>type</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
